# Test Report 
[All pages](README.md)

* User interactions
The user unit testing was measured with a post survey I gave teammates while traveling. They do not represent all types of users I was hoping to reach and design the came for, however they are all students who are working towards better study habits. 

* User collisions
The user survey asked about this. Users reported where they expected to be stopped in movement like boundaries, they were stopped properly. This includes walls, furniture, and objects. 


* Respondance test 
In order to conduct this test, users had to wait the full time to make sure the red 'Time's up' screen would pop up once in game play mode. Users are able to know when to stop studying after an allotted time as passed. Then there will be a break period before the timer will start the clock again. 


